footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    height: auto;
    padding: 1rem 2.5rem;
    /* display: none; */
    opacity: 0;
    border-top: 1px solid var(--text-color);
}

.footerPara {
    transform: translateX(-300);
}

footer .footerIcon {
    display: flex;
    gap: 10px;
    /* transform: translateX(300); */
}

.footerIcon a {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.footerIcon a:hover {
    background-color: transparent;
}


@media screen and (max-width: 769px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}