.aboutContent {
    width: 100%;
    height: auto;
    display: grid;
    justify-items: start;
    grid-template-columns: 60% 40%;
    align-items: center;
    padding: 6.4rem 3rem;
}

.aboutContent .contentDiv {
    display: flex;
    flex-direction: column;
    opacity: 0;
    gap: 10px;
    padding: 0 5rem 0 0;
}

.aboutContent h1 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: 700;
}

.paraDiv p {
    margin: 10px 0;
}

.aboutImg {
    border-radius: 43% 57% 15% 85% / 83% 48% 52% 17%;
    background-color: var(--secondary-color);
    width: 25rem;
    height: 25rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
}

.box img {
    width: 80%;
    object-fit: contain;
}

.mySelf {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
}

@media screen and (max-width: 769px) {
    .aboutContent {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
}