.home {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    height: 87.1vh;
    width: 100%;
    padding: 0 3rem;
    position: relative;
}

.home .homeContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    opacity: 0;
}

.home .homeContent h1 {
    font-size: 2rem;
    font-weight: 700;
}

.home .homeContent h1 span {
    color: var(--secondary-color);
}

.home .homeContent p {
    color: var(--primary-color);
}

.home .homeContent button {
    border: 2px solid var(--secondary-color);
    padding: 10px 24px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    transition: .4s;
}

.home .homeContent button:hover {
    background-color: transparent;
}

.box {
    border-radius: 43% 57% 15% 85% / 83% 48% 52% 17%;
    background-color: var(--secondary-color);
    width: 25rem;
    height: 25rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
}

.box img {
    width: 80%;
    object-fit: contain;
}