.skill {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    border-top: 1px solid var(--text-color);
    opacity: 0;
    /* transform: translateX(-200px); */
}

.skill h1 {
    font-size: 2rem;
    font-weight: 700;
}

.skill .skillGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 2rem 1.3rem;
}

.skillGrid .progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 1rem;
    width: 90%;
    gap: 1rem;
    height: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.progress .progressContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress .progressBox {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
}

.progress .progressPercent {
    height: 3vh;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 769px) {
    .skill .skillGrid {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
        padding: 2rem 3rem;
    }

    .skillGrid .progress {
        width: 100%;
    }
}