header {
    width: 100%;
    height: 10vh;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #827f8738;
}

header nav {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

header nav a {
    color: var(--text-color);
    transition: .3s;
}

header nav a:hover {
    color: var(--secondary-color);
}

header nav .active {
    color: var(--secondary-color);
}

header .icon {
    display: flex;
    gap: 10px;
}

header .icon a {
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    transition: .5s;
}

header .icon a:hover {
    background-color: transparent;
}

header .icon svg {
    /* padding: 1rem; */
    color: white;
}